<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Welcome, Please Login or Register</h1>
<div class="halfie">
    <h2>Login:</h2>
    <form action="/login" method='post'>
        <label>Username: <input name='username' type="text"/></label>
        <br/>
        <label>Password: <input name='password' type="password"/></label>
        <br/>
        <button type="submit">Login</button>
    </form>
</div>
<div class="halfie">
    <h2>Register:</h2>
    <form action="/register" method='post'>
        <label>Username: <input name='username' type="text" /></label>
        <br/>
        <label>Email: <input name='email' type="text" /></label>
        <br/>
        <label>Password: <input name='password' type="password"/></label>
        <br/>
        <label>Repeat Password: <input name='repeatPassword' type="password"/></label>
        <br/>
        <button type="submit" >Register</button>
    </form>
</div>
</body>
<style>
.halfie{
    width:50%;
    display: inline-block;
}
</style>
</html>